#nav-bar {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #00a087;
    color: #e8fdff;
    padding: 0 2em 0 2em;
    z-index: 1;
}

#nav-bar .logo {
    height: 5em;
    width: 5em;
    float: left;
    margin: auto;
}

#nav-bar .header {
    float: left;
    margin-left: 0.3em;
    font-size: 2em;
    line-height: 2.5;
}

#nav-bar button {
    float: right;
    height: 3em;
    width: 6.5 em;
    border-radius: 0.5em;
    margin-top: 15px;
    border: 1px solid black;
    opacity: 0.7;
    color: #00a087;
    font-size: 1em;
}

#nav-bar button:hover {
    opacity: 1;
    color: black;
}

.far {
    color: #00a087;
}